################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/bin
/obj
*.user
/node_modules
/bower_components
/typings