#main h2 {
  font-size: 12pt; }

#trackView dt {
  display: inline-block;
  width: 80px;
  text-align: right;
  height: 2em;
  line-height: 2em; }

#trackView dd {
  display: inline; }
  #trackView dd:after {
    content: "\A";
    white-space: pre; }

aside.src h1 {
  font-size: 10pt;
  margin: 0; }

aside.src td {
  width: auto !important; }
