#main h2 {
  font-size: 12pt;
  margin: 0 0 0 15px; }

#main .tab h1 {
  font-size: 12pt;
  margin: 0; }

#main .tab ul {
  margin: 10px 0 0 30px;
  padding: 0;
  display: flex;
  list-style: none; }
  #main .tab ul li {
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    padding: 10px; }
    #main .tab ul li:hover {
      border-color: #ff6a00; }
    #main .tab ul li.isActive > div {
      border-bottom: 3px solid #ff4646; }

#main .demo1 .view > div {
  display: flex;
  align-items: flex-start; }
  #main .demo1 .view > div button {
    margin: 30px 0 0 20px; }

#main .demo2 .view > div.flex {
  display: flex;
  align-items: flex-start; }
  #main .demo2 .view > div.flex button {
    margin: 30px 0 0 20px; }

#main .demo2 .view .ignoreCheck {
  margin-left: 30px; }

#main .demo3 .error {
  color: red; }

#main dt {
  display: inline-block;
  width: 80px;
  text-align: right;
  height: 2em;
  line-height: 2em; }

#main dd {
  display: inline; }
  #main dd:after {
    content: "\A";
    white-space: pre; }

.invisible {
  display: none; }

aside.src h1 {
  font-size: 10pt;
  margin: 0; }

aside.src td {
  width: auto !important; }
